################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pointman.TailwindLogin/.vs/Pointman.TailwindLogin/v17
